In [30]:
import pandas as pd
import numpy as np

biden = pd.read_csv("hashtag_joebiden.csv" , lineterminator='\n')
trump = pd.read_csv("hashtag_donaldtrump.csv", lineterminator='\n')

print(biden.head())
print(trump.head())
print(biden.columns)
trump.info()
biden.info()

            created_at      tweet_id  \
0  2020-10-15 00:00:01  1.316529e+18
1  2020-10-15 00:00:18  1.316529e+18
2  2020-10-15 00:00:20  1.316529e+18
3  2020-10-15 00:00:21  1.316529e+18
4  2020-10-15 00:00:22  1.316529e+18

                                               tweet  likes  retweet_count  \
0  #Elecciones2020 | En #Florida: #JoeBiden dice ...    0.0            0.0
1  #HunterBiden #HunterBidenEmails #JoeBiden #Joe...    0.0            0.0
2  @IslandGirlPRV @BradBeauregardJ @MeidasTouch T...    0.0            0.0
3  @chrislongview Watching and setting dvr. Let‚Äôs...    0.0            0.0
4  #censorship #HunterBiden #Biden #BidenEmails #...    1.0            0.0

               source       user_id           user_name user_screen_name  \
0           TweetDeck  3.606665e+08  El Sol Latino News  elsollatinonews
1    Twitter for iPad  8.099044e+08         Cheri A. üá∫üá∏     Biloximeemaw
2     Twitter Web App  3.494182e+09          Flag Waver      Flag_Wavers
3  Twitter for iPhone  8.242596e+17       Michelle Ferg    MichelleFerg4
4     Twitter Web App  1.032807e+18      the Gold State    theegoldstate

                                    user_description  ...  \
0  üåê Noticias de inter√©s para latinos de la costa...  ...
1  Locked and loaded Meemaw. Love God, my family ...  ...
2                                                NaN  ...
3                                                NaN  ...
4  A Silicon Valley #independent #News #Media #St...  ...

  user_followers_count                 user_location        lat        long  \
0               1860.0  Philadelphia, PA / Miami, FL  25.774270  -80.193660
1               6628.0                           NaN        NaN         NaN
2               1536.0         Golden Valley Arizona  46.304036 -109.171431
3                 27.0                           NaN        NaN         NaN
4                390.0               California, USA  36.701463 -118.755997

   city                   country      continent       state state_code  \
0   NaN  United States of America  North America     Florida         FL
1   NaN                       NaN            NaN         NaN        NaN
2   NaN  United States of America  North America     Montana         MT
3   NaN                       NaN            NaN         NaN        NaN
4   NaN  United States of America  North America  California         CA

                    collected_at
0            2020-10-21 00:00:00
1  2020-10-21 00:00:00.517827283
2  2020-10-21 00:00:01.035654566
3  2020-10-21 00:00:01.553481849
4  2020-10-21 00:00:02.071309132

[5 rows x 21 columns]
            created_at      tweet_id  \
0  2020-10-15 00:00:01  1.316529e+18
1  2020-10-15 00:00:01  1.316529e+18
2  2020-10-15 00:00:02  1.316529e+18
3  2020-10-15 00:00:02  1.316529e+18
4  2020-10-15 00:00:08  1.316529e+18

                                               tweet  likes  retweet_count  \
0  #Elecciones2020 | En #Florida: #JoeBiden dice ...    0.0            0.0
1  Usa 2020, Trump contro Facebook e Twitter: cop...   26.0            9.0
2  #Trump: As a student I used to hear for years,...    2.0            1.0
3  2 hours since last tweet from #Trump! Maybe he...    0.0            0.0
4  You get a tie! And you get a tie! #Trump ‚Äòs ra...    4.0            3.0

               source       user_id              user_name user_screen_name  \
0           TweetDeck  3.606665e+08     El Sol Latino News  elsollatinonews
1    Social Mediaset   3.316176e+08                Tgcom24  MediasetTgcom24
2     Twitter Web App  8.436472e+06                 snarke           snarke
3       Trumpytweeter  8.283556e+17          Trumpytweeter    trumpytweeter
4  Twitter for iPhone  4.741380e+07  Rana Abtar - ÿ±ŸÜÿß ÿ£ÿ®ÿ™ÿ±        Ranaabtar

                                    user_description  ...  \
0  üåê Noticias de inter√©s para latinos de la costa...  ...
1  Profilo ufficiale di Tgcom24: tutte le notizie...  ...
2  Will mock for food! Freelance writer, blogger,...  ...
3  If he doesn't tweet for some time, should we b...  ...
4  Washington Correspondent, Lebanese-American ,c...  ...

  user_followers_count                 user_location        lat        long  \
0               1860.0  Philadelphia, PA / Miami, FL  25.774270  -80.193660
1            1067661.0                           NaN        NaN         NaN
2               1185.0                      Portland  45.520247 -122.674195
3                 32.0                           NaN        NaN         NaN
4               5393.0                 Washington DC  38.894992  -77.036558

         city                   country      continent                 state  \
0         NaN  United States of America  North America               Florida
1         NaN                       NaN            NaN                   NaN
2    Portland  United States of America  North America                Oregon
3         NaN                       NaN            NaN                   NaN
4  Washington  United States of America  North America  District of Columbia

  state_code                   collected_at
0         FL            2020-10-21 00:00:00
1        NaN  2020-10-21 00:00:00.373216530
2         OR  2020-10-21 00:00:00.746433060
3        NaN  2020-10-21 00:00:01.119649591
4         DC  2020-10-21 00:00:01.492866121

[5 rows x 21 columns]
Index(['created_at', 'tweet_id', 'tweet', 'likes', 'retweet_count', 'source',
       'user_id', 'user_name', 'user_screen_name', 'user_description',
       'user_join_date', 'user_followers_count', 'user_location', 'lat',
       'long', 'city', 'country', 'continent', 'state', 'state_code',
       'collected_at'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 970919 entries, 0 to 970918
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   created_at            970919 non-null  object
 1   tweet_id              970919 non-null  float64
 2   tweet                 970919 non-null  object
 3   likes                 970919 non-null  float64
 4   retweet_count         970919 non-null  float64
 5   source                970043 non-null  object
 6   user_id               970919 non-null  float64
 7   user_name             970903 non-null  object
 8   user_screen_name      970919 non-null  object
 9   user_description      869653 non-null  object
 10  user_join_date        970919 non-null  object
 11  user_followers_count  970919 non-null  float64
 12  user_location         675966 non-null  object
 13  lat                   445719 non-null  float64
 14  long                  445719 non-null  float64
 15  city                  227187 non-null  object
 16  country               442748 non-null  object
 17  continent             442765 non-null  object
 18  state                 320620 non-null  object
 19  state_code            300425 non-null  object
 20  collected_at          970919 non-null  object
dtypes: float64(7), object(14)
memory usage: 155.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 776886 entries, 0 to 776885
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   created_at            776886 non-null  object
 1   tweet_id              776886 non-null  float64
 2   tweet                 776886 non-null  object
 3   likes                 776886 non-null  float64
 4   retweet_count         776886 non-null  float64
 5   source                776173 non-null  object
 6   user_id               776886 non-null  float64
 7   user_name             776868 non-null  object
 8   user_screen_name      776886 non-null  object
 9   user_description      694880 non-null  object
 10  user_join_date        776886 non-null  object
 11  user_followers_count  776886 non-null  float64
 12  user_location         543095 non-null  object
 13  lat                   355293 non-null  float64
 14  long                  355293 non-null  float64
 15  city                  186872 non-null  object
 16  country               353779 non-null  object
 17  continent             353797 non-null  object
 18  state                 260195 non-null  object
 19  state_code            244609 non-null  object
 20  collected_at          776886 non-null  object
dtypes: float64(7), object(14)
memory usage: 124.5+ MB

In [31]:
#Remove unneeded columns
trump = trump.drop(columns=['user_description','user_join_date'])
biden = biden.drop(columns=['user_description','user_join_date'])

#Rename column names
trump = trump.rename(columns={"likes": "Likes", "retweet_count": "Retweets",
                              "state": "State", "user_followers_count": "Followers"})
biden = biden.rename(columns={"likes": "Likes", "retweet_count": "Retweets",
                                "state": "State", "user_followers_count": "Followers"})


trump['candidate'] = 'Trump'
biden['candidate'] = 'Biden'
#concat the two data sets
data = pd.concat([trump, biden])
print('Data shape:', data.shape)
print('First three rows:')
print(data.tail(3))
data.info()

Data shape: (1747805, 20)
First three rows:
                 created_at      tweet_id  \
776883  2020-11-08 23:59:41  1.325589e+18
776884  2020-11-08 23:59:52  1.325589e+18
776885  2020-11-08 23:59:58  1.325589e+18

                                                    tweet  Likes  Retweets  \
776883  L'OTAN va sortir de sa l√©thargie et redevenir ...   48.0      14.0
776884  üåé\n\n‚Äú#congiuntifuoriregione‚Äù\n\n‚ÄòSono felice ...    1.0       1.0
776885  Ik moet zeggen dat ik #Biden "the lesser of tw...    0.0       0.0

                     source       user_id  \
776883  Twitter for Android  7.819183e+17
776884   Twitter for iPhone  5.293315e+08
776885  Twitter for Android  5.863863e+08

                                         user_name user_screen_name  \
776883  üá´üá∑ Alt-Droite (matricule 6921) ‚úùÔ∏è üá¨üá∑ üáÆüáπ üá¶üá≤    CtrlAltDroite
776884                                 Angelo Tani       AngeloTani
776885                                         Job          _JobO__

        Followers user_location        lat      long city country continent  \
776883    15806.0        France  46.603354  1.888334  NaN  France    Europe
776884     5974.0             üåé        NaN       NaN  NaN     NaN       NaN
776885      119.0           NaN        NaN       NaN  NaN     NaN       NaN

       State state_code                collected_at candidate
776883   NaN        NaN  2020-11-09 18:32:45.627335     Biden
776884   NaN        NaN  2020-11-09 18:32:45.599846     Biden
776885   NaN        NaN  2020-11-09 18:32:45.747707     Biden
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1747805 entries, 0 to 776885
Data columns (total 20 columns):
 #   Column            Dtype
---  ------            -----
 0   created_at        object
 1   tweet_id          float64
 2   tweet             object
 3   Likes             float64
 4   Retweets          float64
 5   source            object
 6   user_id           float64
 7   user_name         object
 8   user_screen_name  object
 9   Followers         float64
 10  user_location     object
 11  lat               float64
 12  long              float64
 13  city              object
 14  country           object
 15  continent         object
 16  State             object
 17  state_code        object
 18  collected_at      object
 19  candidate         object
dtypes: float64(7), object(13)
memory usage: 280.0+ MB

In [32]:
print(data['tweet'])

#Calculate how many rows would be dropped if apply dropna to the entire data set
original_row_count = data.shape[0]
remaining_row_count = data.dropna().shape[0]
rows_eliminated = original_row_count - remaining_row_count
print(f"Number of rows that would be eliminated: {rows_eliminated}")


# data.dropna(inplace=True)
# data['country'].value_counts()

# Fill missing values in numeric columns with 0 for non-important columns
numeric_columns = ['Likes', 'Retweets', 'Followers']
data[numeric_columns] = data[numeric_columns].fillna(0)

# Fill missing text columns with an empty string for non-important columns
text_columns = ['source', 'user_name', 'user_screen_name', 'country']
data[text_columns] = data[text_columns].fillna('')

data = data[data['tweet'].notna()]

import re

def clean_text(text):
    text = re.sub(r"http\S+|www\S+|https\S+", '', text, flags=re.MULTILINE)  # Remove URLs
    text = re.sub(r'\@\w+|\#','', text)  # Remove mentions and hashtags
    text = re.sub(r"[^a-zA-Z0-9\s]", '', text)  # Remove special characters
    return text.lower().strip()  # Convert to lowercase and strip extra spaces

data['tweet'] = data['tweet'].apply(clean_text)

data = data.drop_duplicates(subset=['tweet_id'])
data = data.reset_index(drop=True)
data.info()

0         #Elecciones2020 | En #Florida: #JoeBiden dice ...
1         Usa 2020, Trump contro Facebook e Twitter: cop...
2         #Trump: As a student I used to hear for years,...
3         2 hours since last tweet from #Trump! Maybe he...
4         You get a tie! And you get a tie! #Trump ‚Äòs ra...
                                ...
776881    Stop laying @CNN !\n#Paris and #London dont gi...
776882    Œ©œá ŒµŒªœÄŒØŒ∂œâ ŒΩŒ± ŒºŒ∑ ŒºŒ±œÇ Œ≤Œ≥ŒµŒπ  œÉŒ±ŒΩ œÑŒøœÖœÇ ŒøœÄŒ±Œ¥ŒøœçœÇ œÑŒøœÖ...
776883    L'OTAN va sortir de sa l√©thargie et redevenir ...
776884    üåé\n\n‚Äú#congiuntifuoriregione‚Äù\n\n‚ÄòSono felice ...
776885    Ik moet zeggen dat ik #Biden "the lesser of tw...
Name: tweet, Length: 1747805, dtype: object
Number of rows that would be eliminated: 1383967
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1522909 entries, 0 to 1522908
Data columns (total 20 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   created_at        1522909 non-null  object
 1   tweet_id          1522909 non-null  float64
 2   tweet             1522909 non-null  object
 3   Likes             1522909 non-null  float64
 4   Retweets          1522909 non-null  float64
 5   source            1522909 non-null  object
 6   user_id           1522909 non-null  float64
 7   user_name         1522909 non-null  object
 8   user_screen_name  1522909 non-null  object
 9   Followers         1522909 non-null  float64
 10  user_location     1060140 non-null  object
 11  lat               696876 non-null   float64
 12  long              696876 non-null   float64
 13  city              357428 non-null   object
 14  country           1522909 non-null  object
 15  continent         693074 non-null   object
 16  State             509928 non-null   object
 17  state_code        480316 non-null   object
 18  collected_at      1522909 non-null  object
 19  candidate         1522909 non-null  object
dtypes: float64(7), object(13)
memory usage: 232.4+ MB